[Unit]
Description=Video recording app

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/pi-car-logger/
ExecStart=/home/pi/pi-car-logger/venv/bin/python cam/recorder.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
