[Unit]
Description=GPS logger app

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/pi-car-logger/
ExecStart=/home/pi/pi-car-logger/venv/bin/python gps/logger.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
